@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Inter",sans-serif ;
        background-color: #ffff;
      }
}
@layer components {
  .spinner {
    @apply inline-block w-7 h-7 border-2 bg-white
     border-black border-dashed rounded-full animate-spin;
     @apply  animate-custom-spin;
  }
}

@layer utilities {
  .instructions {
    @apply text-red-500  text-sm text-center  bg-transparent;
  }
  .error {
    @apply hidden;

  }
  .errorStyle {
    @apply text-red-500  text-sm text-center m-2 bg-transparent;
  }
  
}